## ignore snakemake folders
*.snakemake

## ignore input files
*.json
*.csv
analysis/intermediate/
analysis/input/

## ignore results files
results/
resources/

## ignore figures
analysis/figures/

## ignore large files